$text: #fff;
$text2: rgb(202, 202, 202);
$text3: rgb(0, 0, 0);

@import './foundation/fonts';
@import './layout/header';
@import './foundation/backgd';
@import './layout/footer';
@import './object/project/intro-para';
@import './object/project/main-card';
@import './object/project/email';
@import './object/component/button';
@import './object/component/sameheading';




