$text :#fff;
$text2:rgb(127, 127, 127);
$text3:rgb(201, 201, 201);
body{
    background-color: rgb(0, 0, 0);
}
.container{
    width: 60%;
    margin: 0 auto;
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 20px;
        a{
            font-size: 2em;
            font-weight: bold;
            color: $text3;
            text-decoration: none;
            &:hover{
                color:$text;
            }
        }
    }
    ul{
        display: flex;
        li{
            a{
            padding: 20px;
            flex-direction: row;
            color: $text3;
            text-decoration: none;
            &:hover{
                color:$text;
            }
            }
        }
    }
}
.intro{
    text-align: center;
    color: $text;
    width: 60%;
    margin:0 auto;
    margin-bottom: 30px;
    .intro--2{
        font-weight: bold;
        font-size: 2em;
        padding: 30px;
        color: $text;
    }
    p{
        color:$text2;
    }
}
.intro--1{
    text-align: left;
    width: 60%;
    margin: 0 0;
    .intro--1--2{
        padding: 20px 0;
        font-size: 2.5em;
        color: $text;
    }
}
.img-warp {
    ul{
        li{
            margin-bottom: 50px;
            img{
                width: 100%;
            }
        }
    }
}
.slider-warp{
    position: relative;
    margin: 0 auto 30px;
    .slider-warp__icon{
        position: absolute;
        right: 0;
        top: -50px;
        display: flex;
        width: 10%;
        justify-content: space-between;
        a{
            color:$text3;
            text-decoration: none;
            &:hover{
                color: $text;
            }
        }
    }
    .slider-warp__imgs{
        display: flex;
        
        div{
            margin-right:30px;
            &:nth-child(3n+3){
                margin-right: 0;
            }
            
            .img-design{
                position: relative;
                width: 100%;
                p{
                    position: absolute;
                    color: $text;
                    left: 0;
                    top:0;
                    padding: 20px;
                }
                a{
                    position: absolute;
                    background-color: blue;
                    color: #1E2126;
                    left: 0;
                    bottom: 30px;
                    padding: 20px;
                    text-decoration: none;
                    opacity: 0;
                }
                &:hover{
                    a{
                        opacity: 1;
                        transition: all 1s ease;
                    }
                }

                img{
                    display: block;
                    width: 100%;
                    height: 350px;
                    object-fit: cover;
                }
            }
            .img-cap{
                text-align: center;
                .img-cap--cap{
                    color: $text2;
                    padding: 20px;
                    font-size: 20px;
                }
                p{
                    color: rgb(85, 85, 85);
                }
            }
        }
    }
}
footer{
    background-color: rgb(40, 40, 40);
    .logo--foot{
        width: 60%;
        margin: 0 auto;
        address{
            color: rgb(85, 85, 85);
            font-weight: normal;
            font-size: 12px;
            padding: 20px;
        }
    }
}
