.container {
    background-color: #FAF4F2;
    position: relative;

}
.logomenu{
    position: fixed;
    top: 0;
    display: none;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    margin: 2% 10%;
    z-index: 100;
    .menu-options{
        width: 20%;
        padding: 20px;
        overflow: hidden;
        border-radius: 30px;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        flex-direction: column;
        transition:all 0.5s ease;
        .menu{
            display: block;
            padding: 20px;
            background-color: $text;
            border-radius: 50%;
        }
        .menu-warp{
            .nav-bar--col{
                margin-bottom: 30px;
                ul{
                    flex-direction: column;
                    li{
                        display: flex;
                        justify-content: flex-end;
                        border-bottom: 1px solid $text;
                        a{
                            &:hover::after{
                                right: 10%;
                            }
                            &:hover{
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
        }
        .user{
            .user-sign{
                .user--up{
                    transition:all 1s ease;
                    &:hover{
                        background-color: $text;
                        color: $text3;
                    }
                }
                .user--in{
                    transition: all 1s ease;
                    &:hover{
                        background-color: $text;
                        color: $text3;
                    }
                }
            }
        }
    }
}
.logo {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 10%;
    z-index: 100;


    .logo-nav-warp {
        display: flex;
        align-items: center;

        .main-logo {
            padding: 10px 15px;
        }
    }
}


@media screen and (max-width:800px) {
    .logo {
        display: none;
    }

    .logomenu {
        display: flex;
    }
}